07/メソッド説明.txt
fruits_a.csv
fruits_b.csv
item.csv
member.csv
prefecture.csv
result.csv
section_member.csv
section.csv
sell.csv
user.csv
11/tools/busybox.exe
11/tools/csvq-v1.17.3-windows-amd64.zip
11/tools/DB.Browser.for.SQLite-3.12.2-win64.zip
11/tools/sqlite3_3380500.zip
fruits.xlsx
output.csv
sample.csv
titanic.csv
titanic.xlsx
titanic.zip
test_score.csv
test_score.xlsx
13/test_score.csv
13/test_score.xlsx
config.ini
order_xxxxxx.csv
得意先台帳.CSV
20220802113416check_登録済.csv
20220802113416check_未登録.csv
20220802113416check_要確認.csv
.gitignore
raw_data.csv
得意先台帳2.CSV
agaricus-lepiota.data
agaricus-lepiota.names
agaricus-lepiota.xlsx
20/timecmd.bat
20/Fig.png
dtreeviz_test
dtreeviz_test.svg
tree
tree.png
Usage.svg
iris_dtree
22_2_md_10
scikit_learn_data/openml/openml.org/api/v1/json/data/554.gz
scikit_learn_data/openml/openml.org/api/v1/json/data/features/554.gz
scikit_learn_data/openml/openml.org/api/v1/json/data/list/data_name/mnist_784/limit/2/data_version/1.gz
scikit_learn_data/openml/openml.org/api/v1/json/data/qualities/554.gz
scikit_learn_data/openml/openml.org/data/v1/download/tmpkl1hqy70/52667.gz
scikit_learn_data/openml/openml.org/data/v1/download/52667.gz
clf.pkl
.vscode/settings.json
test.py
26/26_1.build/__bytecode.const
26/26_1.build/__constants.bin
26/26_1.build/__constants.c
26/26_1.build/__constants.const
26/26_1.build/__constants.h
26/26_1.build/__helpers.c
26/26_1.build/__helpers.h
26/26_1.build/__loader.c
26/26_1.build/module.__main__.c
26/26_1.build/module.__main__.const
28/21_7_datamax_result.txt
param_cifar10.hdf5
